.cabecalhoPrincipal .container{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.cabecalhoPrincipal-nav{
  display: flex;
  flex-flow: column nowrap;
}

.conteudoPrincipal-cursos{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.conteudoPrincipal-cursos-link{
  width: 100%
}

.videoSobre .container{
  display: flex;
  flex-flow: column nowrap;
}

.videoSobre-sobre{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: flex-end;
  height: 350px;
}

.videoSobre-sobre-list{
  display: flex;
  flex-flow: column nowrap;
  height: 200px;
}

.rodapePrincipal-navMap-list{
  display: flex;
  flex-flow: column nowrap;
}

.rodapePrincipal-patrocinadores .container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.rodapePrincipal-patrocinadores-list{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.rodapePrincipal-patrocinadores-list li{
  width: 25%;
}

.rodapePrincipal-patrocinadores-list-link{
  display: flex;
}

.rodapePrincipal-patrocinadores-list-link img{
  width: 100%;
}

.rodapePrincipal-contatoForm-fieldset{
  display: flex;
}


@media screen and (min-width: 769px){
  .cabecalhoPrincipal .container{
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .cabecalhoPrincipal-nav{
    flex-flow: row nowrap;
  }

  .conteudoPrincipal-cursos{
    flex-flow: row wrap;
  }

  .conteudoPrincipal-cursos-link{
    width: 31.33%;
    margin: 1%;
    flex-grow: 1;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n){
    margin-right: 0;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n+1){
    margin-left: 0;
  }

  .videoSobre .container{
    flex-flow: row nowrap;
  }

  .videoSobre-video{
    flex-grow: 1;
    flex-shrink: 2;
    margin-right: 3%;
  }

  .videoSobre-sobre{
    flex-grow: 1;
    flex-shrink: 1;
    height: unset;
  }

  .videoSobre-sobre-list{
    flex-grow: 1;
    height: unset;
  }
}