.cabecalhoPrincipal .container{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.cabecalhoPrincipal-nav{
  display: flex;
  flex-flow: column nowrap;
}

.conteudoPrincipal-cursos{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.conteudoPrincipal-cursos-link{
  width: 100%
}

.videoSobre .container{
  display: flex;
  flex-flow: column nowrap;
}

.videoSobre-sobre{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: flex-end;
  height: 350px;
}

.videoSobre-sobre-list{
  display: flex;
  flex-flow: column nowrap;
  height: 200px;
}

.rodapePrincipal-navMap-list{
  display: flex;
  flex-flow: column nowrap;
}

.rodapePrincipal-patrocinadores .container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.rodapePrincipal-patrocinadores-list{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.rodapePrincipal-patrocinadores-list li{
  width: 25%;
}

.rodapePrincipal-patrocinadores-list-link{
  display: flex;
}

.rodapePrincipal-patrocinadores-list-link img{
  width: 100%;
}

.rodapePrincipal-contatoForm-fieldset{
  display: flex;
}


@media screen and (min-width: 769px){
  .subtitulo{
    font-size: 28px;
  }

  .cabecalhoPrincipal .container{
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .cabecalhoPrincipal-nav{
    flex-flow: row nowrap;
  }

  .cabecalhoPrincipal-nav-link{
    font-size: 14px;
  }

  .cabecalhoPrincipal-nav-link-app{
    order: -1;
  }

  .conteudoPrincipal-cursos{
    flex-flow: row wrap;
  }

  .conteudoPrincipal-cursos-link{
    width: 31.33%;
    margin: 1%;
    flex-grow: 1;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n){
    margin-right: 0;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n+1){
    margin-left: 0;
  }

  .videoSobre .container{
    flex-flow: row nowrap;
  }

  .videoSobre-video{
    flex-grow: 1;
    flex-shrink: 3;
    margin-right: 3%;
  }

  .videoSobre-sobre{
    flex-grow: 1;
    flex-shrink: 1;
    height: unset;
  }

  .videoSobre-sobre-title{
    font-size: 24px;
  }

  .videoSobre-sobre-list{
    flex-grow: 1;
    height: unset;
  }

  .videoSobre-sobre-item{
    font-size: 16px;
  }

  .videoSobre-button{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  .rodapePrincipal-navMap{
    display: flex;
    flex-flow: column nowrap;
  }

  .rodapePrincipal-navMap-list{
    flex-flow: column wrap;
    height: 230px;
  }

  .navmap-list-title {
    font-size: 1em;
  }

  .rodapePrincipal-navMap-link {
    font-size: .85em;
    letter-spacing: .5px;;
  }

  .rodapePrincipal-patrocinadores .container{
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .rodapePrincipal-patrocinadores-list{
    flex-grow: .5;
  }

  .rodapePrincipal-contatoForm-legend{
    font-size: .8em;
    font-weight: bold;
  }

   .rodapePrincipal-contatoForm-submit{
    font-size: .65em;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1000px){
  .cabecalhoPrincipal-nav-link-app{
    order: 0;
  }

  .conteudoPrincipal-cursos-link {
    width: 23.5%;
    flex-grow: 0;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n){
    margin-right: 1%;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n+1){
    margin-left: 1%;
  }

  .conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
  }

  .conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
  }

  .videoSobre-video {
    margin-right: 1%;
  }

  .videoSobre-sobre{
    justify-content: space-between;
    align-items: center;
  }

  .videoSobre-sobre-title{
    width: 150px;
    line-height: 150%;
  }

  .videoSobre-sobre-list{
    flex-grow: 0;
  }

  .videoSobre-button{
    width: 100%;
  }

  .rodapePrincipal-patrocinadores-list{
    flex-grow: unset;
    width: 65%;
  }

  .rodapePrincipal-patrocinadores-list li{
    flex-grow: 0;
  }
}