.cabecalhoPrincipal .container{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.conteudoPrincipal-cursos{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.conteudoPrincipal-cursos-link{
  width: 100%
}

.rodapePrincipal-navMap-list{
  display: flex;
  flex-flow: column nowrap;  
}

